.serverContent{
    margin: 0 5px;
}
.serverContent > .GroupChat{
    font-size: larger;
    margin: 15px 5px 0 5px;
}
.serverContent > .GroupChat > .chatName {
    margin: 0.5em 10px;
    font-size: large;
} 