.NavigationSecondary {
  display: flex;
  width: 300px;
  mix-blend-mode: normal;
  font-family: OMORI_GAME;
  height: 100%;
}
.NavHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #25272a;
  opacity: 0.75;
}
#serverName{
  border-bottom: 2px double black;
  background-color: #1e2022;
  width: 100%;
}
#serverName >*{
  width: 100px;
  height: 25px;
  top: 35px;
  margin-left: 45px;
  font-family: OMORI_GAME, fantasy;
  font-size: 35px;
}
.serverContent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.GroupChat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.GroupChat>*{
  border: 2px dashed #FFF;
}
.GroupChat > h4 {
  margin: 0 ;
  padding: 0 0 010px;
  font-size: 25px;
  height: 30px;
  width: 100%;
}
.GroupChat > p {
  margin: 0 ;
  padding: 0 0 0 25px;
  height: 25px;
  width: 100%;
  font-size: 20px;
}
.GroupChat > *:hover {
  opacity: 0.7;
}
.hide >.chatName{
  display:none;
}



