.App {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  color: aliceblue;
}
.App > * {
  border: 1px solid black;
  background: #25272a;
  opacity: 0.75;
}
.Header {
  border-bottom: 1px solid black;
}
.Header > * {
  margin: 15px;
}
.hide > * {
  display: none;
}

.wrapper {
  display: grid;
  grid-template-areas: "main second chat memberList ";
  grid-template-columns: 70px 300px 6fr 1fr;
  grid-template-rows: 100%;
}
.NavigationMain {
  grid-area: main;
}
.NavigationSecondary {
  grid-area: second;
}
.Chat {
  grid-area: chat;
}
.MemberList {
  grid-area: memberList;
}
